
<div>
  <h2>Player 1 is called <%= @player_1.name %> and Player 2 is called <%= @player_2.name %></h2>
</div>
<div>
  <h3><%= @player_2.name %> has <%= @player_2.hit_points%>HP</h3>
</div>

<a href="/attack">Attack</a>
